<table width="100%">
  <% oddev=0
  for item in @items
  oddev= 1-oddev
  end
  %>
  <tr>
    <th align="left">Items</th>
    <th></th>


  </tr>

<% @items.each do |item| %>
  <tr valign="middle" class="Listline<%=oddev%>">
    <td><img src="<%= item.image_url %>" alt="<%=item.title %>" width="100"/></td>
    <td width="60%"><h2 class="ListTitle"><%= item.title %></h2>
      <table>
        <tr><td>
        <% if (item.description).length>80 %>
          <%=item.description[0..100]+"..."%>
        <% else %>
          <%=item.description%>  
        <% end %>
        <p>  <p>
        </td></tr>
        <tr><td><h3>&pound;<%= item.price %></h3></td></tr>
      </table>
    </td>
    <td>
      <table class="ListActions">
        <tr><td><%= button_to 'More Details', item %></td></tr>
        <tr><td><%= button_to "Add to Cart", :action => :add_to_cart, :id => item %></td></tr>
      </table>
    </td>
  </tr>
<% end %>
</table>
