<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Chocolate</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "chocolate", :media => "all" %>
<!-- END:stylesheet -->
  <%= javascript_include_tag :defaults %>
</head>
<!-- END:jit -->
<body id="shop">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Chocolate" %>
  </div>
  <div id="menubar">
  <table border="1" width="100%">
    <tr>
      <td width="20%"><a href="http://www....">Home</a></td>
      <td width="20%"><a href="http://www..../faq">Questions</a><br /></td>
      <td width="20%"><a href="http://www..../news">News</a></td>
      <td width="20%"><a href="http://www..../contact">Contact</a></td>
      <td width="20%"></td>
    </tr>
  <tr>
    <td></td>
    <td colspan="4">
  </div>
    <div id="main">
      <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
      <% end -%>
      <%= yield :layout %>
        </div>
    </div>
    </td>
  </tr>
  </table>
</body>
</html>
